@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: "Poppins", sans-serif;
        outline: none;
        appearance: none;
    }

    ::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
        @apply appearance-none;
    }

    ::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
        @apply bg-transparent w-1 h-1;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-primary;
    }

    input, select {
        @apply border rounded-sm w-full p-2;
    }

    input:disabled, a:is(.pointer-events-none) {
        @apply opacity-50;
    }
    
    *:is(.bg-primary) {
        @apply text-white;
    }

    button:has(> i.bx) {
        @apply flex items-center;
    }

    a:has(> i.bx) {
        @apply flex items-center;
    }

    button {
        @apply rounded-sm;
    }

    button:disabled {
        @apply bg-primary/50;
    }
}

@layer components {
    .link-active {
        @apply bg-primary text-white;
    }

    .link-btn {
        @apply flex justify-start font-medium text-xl items-center pl-5 p-4 gap-8 rounded-sm duration-150 transition-colors hover:link-active;
    }

    nav.active p, nav.active h1 {
        @apply transition-opacity duration-150;
    }
}